* {
    font-family: calibri, serif;
}

body {
    background-color: aliceblue;
    margin: 15mm;
}

h1 {
    color: #1c1c4b;
    text-align: left;
    font-size: 2 em;
}

p {
    color: black;
    font-size: 24 px;
    font-size: 1 em;
}

img {
    width: 30%;
    text-align: right;
}

.main-wrapper {
    width: 600 em;
    margin: 100 em;
}

.stars {
    text-align: left;
    font-size: 150%;
}

.timer {
    text-align: center;
    font-size: 130%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container>.flex-item {
    flex: auto;
    border: 0.5em solid #1c1c4b;
    padding: 5em;
    margin: auto;
    background-color: bisque;
}

#button {
    font-size: 1.5em;
}

/**https://codepen.io/darkwing/pen/bCali*/