* {
    font-family: calibri, serif;
}

body {
    background-color: aliceblue;
    margin: 100px;
}

h1 {
    color: #1c1c4b;
    font-size: 2 em;
    margin: auto;
}

p {
    color: black;
    font-size: 150%;
}

img {
    width: 200px;
    float: right;
}

.image {
    text-align: right;
}

.flex-container-header {
    display: flex;
    flex-direction: row;
}

.flex-container-header>.headline,
    {
    flex: 4;
}

.flex-container-header>.image {
    flex: 3;
}

.flex-container-header>.stars,
.flex-container-header>.timer,
.flex-container-header>.moves {
    border: 0.5em solid aliceblue;
    margin: auto;
    text-align: left;
}

.main-wrapper {
    width: 600 em;
    margin: auto;
}

.stars {
    text-align: left;
    font-size: 150%;
}

.timer {
    text-align: center;
    font-size: 130%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container>.flex-item {
    flex: auto;
    border: 0.5em solid #1c1c4b;
    padding: 5em;
    border-width: unset;
    margin: auto;
    background-color: bisque;
}

#button {
    font-size: 1.5em;
    margin: 20px 0 10px 0;
}

.click-available {
    pointer-events: auto;
}

.click-disable {
    pointer-events: none;
}

/**https://codepen.io/darkwing/pen/bCali*/